*~
debian/files
debian/libgbinder
debian/libgbinder-dev
debian/libgbinder-tools
debian/*.debhelper.log
debian/*.debhelper
debian/*.substvars
debian/libgbinder.install
debian/libgbinder-dev.install
debian/tmp
documentation.list
installroot
build
RPMS
