Source: libgbinder
Standards-Version: 4.7.4
Maintainer: Slava Monich <slava.monich@jolla.com>
Section: libs
Build-Depends:
 debhelper-compat (= 13),
 bison,
 flex,
 libglib2.0-dev,
 libglibutil-dev (>= 1.0.83),
Vcs-Browser: https://github.com/mer-hybris/libgbinder
Vcs-Git: https://github.com/mer-hybris/libgbinder.git
Homepage: https://github.com/mer-hybris/libgbinder

Package: libgbinder1
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Breaks:
 libgbinder,
Replaces:
 libgbinder,
Description: GLib-style interface to Android binder IPC
 libgbinder provides a GLib-style wrapper around the Android binder
 inter-process communication mechanism.
 .
 Key features:
  * Integration with the GLib main loop
  * Automatic detection of 32-bit vs. 64-bit kernel at runtime
  * Asynchronous transactions that never block the event thread
  * Stable, high-level APIs for the service manager and low-level
    binder transactions
 .
 Android continuously changes its binder protocols across versions.
 libgbinder handles this by implementing configurable backends for
 different RPC and service manager variants (aidl, aidl2, aidl3, hidl,
 and more), while keeping its own API unchanged. Configuration is
 loaded from /etc/gbinder.conf and /etc/gbinder.d/*.conf files.
 .
 This package contains the library.

Package: libgbinder-dev
Architecture: any
Section: libdevel
Depends:
 libgbinder1 (= ${binary:Version}),
 libglibutil-dev (>= 1.0.83),
 ${misc:Depends},
Description: GLib-style interface to Android binder IPC (dev files)
 libgbinder provides a GLib-style wrapper around the Android binder
 inter-process communication mechanism.
 .
 Key features:
  * Integration with the GLib main loop
  * Automatic detection of 32-bit vs. 64-bit kernel at runtime
  * Asynchronous transactions that never block the event thread
  * Stable, high-level APIs for the service manager and low-level
    binder transactions
 .
 Android continuously changes its binder protocols across versions.
 libgbinder handles this by implementing configurable backends for
 different RPC and service manager variants (aidl, aidl2, aidl3, hidl,
 and more), while keeping its own API unchanged. Configuration is
 loaded from /etc/gbinder.conf and /etc/gbinder.d/*.conf files.
 .
  This package contains the development files.

Package: libgbinder-tools
Architecture: any
Section: utils
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Binder command line utilities
 libgbinder-tools contains a small set of command-line programs that
 were originally created solely to aid the development and testing of
 the libgbinder library itself. Over time it became clear that several
 of them are useful in a much wider range of scenarios.
