#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# Avoid blhc complaining
export DEB_CFLAGS_MAINT_APPEND = -D_FORTIFY_SOURCE=2

LIBDIR=usr/lib/$(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@

override_dh_auto_install:
	dh_auto_install -- LIBDIR=$(LIBDIR) install-dev
	dh_auto_install -- -C tools
